<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Face Attendance System</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="card">

      <h1>Face Recognition Attendance System</h1>
      <p class="subtitle">
        Secure • Real-Time • AI Powered Attendance
      </p>

      <!-- BUTTONS -->
      <div style="margin-top: 35px;">
        <a href="/admin" class="btn" style="margin-bottom: 15px; display:block;">
          Admin Login
        </a>

        <a href="/user" class="btn" style="display:block;">
          User Portal
        </a>
      </div>

      <div class="footer">
        © 2025 Face Attendance System
      </div>

    </div>
  </div>
</body>
</html>
